*{
  background-image: url("background.jpeg");
}


.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

  .Exposition1 {
    float: left:
    font-size: 50px;
    width: 50%;
    height: 100px;
    padding: 16px;
    border: 10px solid black;
    margin: 2px;
    text-align: center;
    background-color: #04AA6D;
}

.exposition {
    font-size: 30px;
    background-color: lightsteelblue;
    width: 50%
    padding: 16px;
    border: 10px solid black;


}

.Characters
            {
    float: left:
    font-size: 50px;
    width: 50%;
    height: 75px;
    padding: 25px;
    border: 10px solid black;
    margin: 2px;
    text-align: center;
    background-color: #04AA6D;
}


.Character-Nav {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .Finley-Underhill {
    font-size: 30px;
    background-color: rgb(255, 253, 133);
    width: 50%;
    padding: 25px;
    border: 10px solid black;
    margin: 5px;
    
  }

  .Burt-Stonehill {
    font-size: 30px;
    background-color: rgb(63, 156, 39);
    width: 50%;
    padding: 25px;
    border: 10px solid black;
    margin: 5px;
  }









  .Shops {
            
    float: left:
    font-size: 50px;
    width: 50%;
    height: 75px;
    padding: 25px;
    border: 10px solid black;
    margin: 2px;
    text-align: center;
    background-color: #04AA6D;
}

.General-Store {
  font-size: 30px;
  background-color: rgb(208, 248, 255);
  width: 50%;
  padding: 25px;
  border: 10px solid black;
  margin: 5px;
  justify-content:space-between;
  text-align: center;
}

table {
  border:1px solid;
  padding: 5px;
  margin:0px auto;
  text-align: center;
}

th{
  border: 2px solid black;
  padding:20px;
  margin:20px;
  text-align: center;
}



/* || MEDIUM */
@media screen and (min-width: 768px) {
body {
	background-color: gold;
	background-image: radial-gradient( whitesmoke, gold)
}

/* || LARGE */
@media screen and (min-width: 992px) {
body {
	background-color: firebrick;
	background-image: radial-gradient( whitesmoke, firebrick)
}

/* || XL */
@media screen and (min-width: 1200px) {
body {
	background-color: rebeccapurple;
	background-image: radial-gradient( whitesmoke, rebeccapurple)
}

/* || MOBILE DEVICE LANDSCAPE */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
body {
	background-color: dodgerblue;
	background-image: radial-gradient( whitesmoke, dodgerblue)
